<h1>Edit/Delete Match</h1>

<% if logged_in? %>

    <form id="edit_match" action="/matches/<%= @match.id %>/edit" method="post">
        <input type="hidden" name="_method" value="patch">

        <label>Date of Match</label>
        <input type="date" name="match[date]" value="<%= @match.date %>">
        <br>

        <label>Your Score:</label>
        <input type="number" name="match[user_score]" value="<%= @match.user_score %>" max="21">
        <br>

        <label>Opponents Score:</label>
        <input type="number" name="match[opponent_score]" value="<%= @match.opponent_score %>" max="21">
        <br>

        <label>Opponent Name:</label>
        <input type="text" name="opponent[username]" value="<%= @opponent.username %>">
        <br>

        <label>Opponent Age:</label>
        <input type="number" name="opponent[age]" value="<%= @opponent.age %>">
        <br>

        <label>Opponent Gender: </label>
        <input type="radio" name="opponent[gender]" value="male"> male
        <input type="radio" name="opponent[gender]" value="female"> female
        <br>

        <label>Opponent Location:</label>
        <input type="text" name="opponent[address]" value="<%= @opponent.address %>">
        <br>

        <label for="notes">Notes</label>
        <textarea rows="5" cols="30" form="edit_match" name="match[user_notes]" value="<%= @match.user_notes %>">
        </textarea>
        <br>

        <input type="submit" value="Update">
    </form>

    <form action="/matches/<%= @match.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
    </form>



<% else %>
    <h3>Log in to edit a match.</h3>
<% end %>